body{
	padding: 0;
	font-family: "Candara";
	background-color:#fff;
}
.nav-left{
	padding-left: 5%;
	margin-top: 50px;

}
.logo{
	padding-left: 5%;
}
.logo a{
	font-size: 20px;
	color: #000;
	font-family: "Baskerville Old Face";
	font-weight: bolder;
	text-decoration: none;
}
.nav-1{
	display: block;
	margin-top: 12%;
}
.nav-1 a{
	color: #000;
	font-size: 15px;
}
.nav-2{
	display: block;
	margin-top: 10%;
}
.nav-2 a{
	color: #000;
	font-size: 12px;
}
.nav > li >a {
	padding: 5px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus{
    color:#ABAAAA;
    background-color: transparent;

}
.nav-pills >li.active > a,
.nav-pills >li.active > a:hover,
.nav-pills >li.active > a:focus {
	color:#ABAAAA;
    background-color: transparent;
}

.right{
	margin-top: 50px;
	padding-right: 20px;
}

.description{
	
	font-family: "微软雅黑";

}
.box{
	margin-top: 50px;
}
.photo{
	width: 100%;
	height: auto;
}

.info{
	padding-right: 6%;
}
.title{
	color: #000;
	font-size: 25px;
	
}
.content{
	margin-top: 10%;
	font-size: 17px;
	padding-left: 0;	
	
}
.content > li{
	list-style: none;
	margin-bottom: 10px;

}
.content > li > span{
	left: 50px;
	position: absolute;
}

.social{
	margin-top:60px;
	padding-left: 0;
	list-style: none;	
}
.social > li{
	margin: 10px 0;
	font-size: 15px;
}
.social > li a{
	text-decoration: none;
	color: gray;
	left: 90px;
	position: absolute;

}
.grid{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.grid-item{
	padding: 10px;
	width: 25%;
}
.img-wrapper{
	display: block;
}
.img-wrapper img{
	display: block;
	max-width: 100%;
}

