 body{
 	margin: 0;
 	padding: 0;
 	height: 100%;
 	font-family: "Baskerville Old Face";

 }
 .content{
 	width: 100%; 	
    height: 100%;  
    position: absolute;   
    display: table;  	
 }
 .left,
 .photo {
 	width: 50%;
 	display: table-cell;
 	vertical-align: middle;
 	position: relative;	
 }

 .left{
 	text-align: right;
 	padding-right: 2%;
 }

 .left h1:first-child{
 	font-family: "华文中宋";
 	font-weight: bolder;
 	margin-bottom: 0;

 }
 .left h1{
 	margin-top: 0;
 }
 .left p{
 	margin-top: 30px;
 }


 .heart-color{
 	color: #A6263E;
 }

 .button{
 	width: 20%;
 	float: right;
 	margin-top: 5%;
 }
 .button a{
 	text-decoration: none;

 }

.btn-enter{
	background-color: #000;
 	color: #fff;
 	font-size: 12px;
 	font-weight: bolder;
 	border-radius: 0;
 	border-color: #000;
 	border-width: 2px;

}
.btn-enter:hover,
.btn-enter:focus {
	background-color: #fff;
 	color: #000;
 	border-color: #000;
}

  .photo img{
 	width: 100%;
 }






