body{
	padding: 0;
	font-family: "微软雅黑";
	background-color:#fff;
}
.nav-left{
	padding-left: 30px;
	padding-top: 50px;

}
.logo{
	padding-left: 15px;
}
.logo a{
	font-size: 20px;
	color: #000;
	font-family: "Baskerville Old Face";
	font-weight: bolder;
	text-decoration: none;
}
.nav-1{
	display: block;
	margin-top: 40px;
}
.nav-1 a{
	color: #000;
	font-size: 15px;
}
.nav-2{
	display: block;
	margin-top: 30px;
}
.nav-2 a{
	color: #000;
	font-size: 12px;
}
.nav > li >a {
	padding: 5px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus{
    color:#ABAAAA;
    background-color: transparent;

}
.nav-pills >li.active > a,
.nav-pills >li.active > a:hover,
.nav-pills >li.active > a:focus {
	color:#ABAAAA;
    background-color: transparent;
}

.right{
	padding-top: 50px;
	padding-right: 20px;
}

.discription{
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	text-align: center;

}


