body{
	padding: 0;
	font-family: "Candara";
	background-color:#fff;
}
.nav-left{
	padding-left: 5%;
	margin-top: 50px;

}
.logo{
	padding-left: 5%;
}
.logo a{
	font-size: 20px;
	color: #000;
	font-family: "Baskerville Old Face";
	font-weight: bolder;
	text-decoration: none;
}
.nav-1{
	display: block;
	margin-top: 12%;
}
.nav-1 a{
	color: #000;
	font-size: 15px;
}
.nav-2{
	display: block;
	margin-top: 10%;
}
.nav-2 a{
	color: #000;
	font-size: 12px;
}
.nav > li >a {
	padding: 5px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus{
    color:#ABAAAA;
    background-color: transparent;

}
.nav-pills >li.active > a,
.nav-pills >li.active > a:hover,
.nav-pills >li.active > a:focus {
	color:#ABAAAA;
    background-color: transparent;
}

.right{
	margin-top: 50px;
	padding-right: 20px;
}

.discription{
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	text-align: center;

}
.photo{
	width: 100%;
	height: auto;
	margin-top: 15%;
}

.info{
	padding-right: 6%;
}
.title{
	margin-top: 50px;
	color: #000;
	font-size: 25px;
	
}
.content{
	margin-top: 10%;
	color:gray;

	font-size: 17px;
	
	
}

.social{
	margin-top: 10%;
	padding-left: 0;
	list-style: none;
	
}
.social > li{
	margin: 10px 0;
	font-size: 15px;
}
.social > li a{
	text-decoration: none;
	color: gray;
	left: 90px;
	position: absolute;

}
.title-contact{
	margin-top: 100px;
	color: #000;
	font-size: 25px;
}
